.blocks {
  position: relative;
    top: 8em;
    /*left: 10%;*/
    /*border-radius: 5em;*/
  left: 2em;
  /*width: ;
  height: 10%;*/
}


.n {
  width: 3em;
  height: 3em;
  color: white;
  font-family: bodoni;
  background-color: #d9152c;
  margin: 0.05em;
  float: left;
  text-align: center;
  line-height: 3em;
  border-radius: 3em;
  font-size: 2em;

  /*top: 5em;*/
  /*display: inline-block;*/
  /*position: absolute;*/
}

.hl {
  background-color: #f55d6f;
  /*opacity: .5;*/
}



.message {
  position: absolute;
  text-align: center;
  /*background-color: grey;*/
  color: black;
  top: 10%;
  margin: 0 auto;
  width: 60%;
  font-size: 1.5em;
  left: 20%;
}

#t {
  position: relative;
  top: 10em;
  left: 10%;

}

table {
  width: 80%;
  height: 20em;
  /*top: 10em;*/
}
.r {
  background-color: black;
  text-align: center;
  font-size: 1.5em;
  color: white;

}

#inputButtons {
  /*display:inline-block;*/
}

.inputs {
  display:inline-block;
}
