.blocks {
    position: relative;
    top: 5em;

}

#bigdiv {
  width: 95%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.n {
  width: 3em;
  height: 3em;
  color: white;
  font-family: bodoni;
  background-color: #d9152c;
  text-align: center;
  display: inline-block;
  text-align: center;
  line-height: 3em;
  border-radius: 3em;
  font-size: 2em;
}

.hl {
  background-color: #f55d6f;
  color: black;
}

.message {
  position: relative;
  text-align: center;
  color: black;
  margin: 0 auto;
  width: 60%;
  font-size: 1.5em;
  top: -6em;
}

.messageTable {
  position: relative;
  text-align: center;
  color: black;
  margin: 0 auto;
  width: 60%;
  font-size: 1.5em;
  bottom: -65%;
}

table {
  position: relative;
  width: 20em;
  height: 20em;
  margin: 0 auto;
}

.r {
  background-color: grey;
  color: black;
  text-align: center;
  font-size: 3em;
}
